
# POSTGRES_USER=
# POSTGRES_PASSWORD=
# POSTGRES_DB=
# POSTGRES_URL=

# JWT_SECRET=

DATABASE
POSTGRES_USER=user
POSTGRES_PASSWORD=devleomariamkevser
POSTGRES_DB=jibjob

BACKEND
DATABASE_URL=postgres://admin:mariamleokevser@localhost:5432/jibjob?sslmode=disable
JWT_SECRET=3+5AJxU42qtdLu8RfZkI4vIXDtE5mxUpu9qNdPdqkTM=


FRONTEND
PORT
PORT=8080